.content {
  max-width: 830px;
  margin: 92px auto 94px 148px;
}

.content__intro {
  padding-right: 24px;
  box-sizing: border-box;
}

.content__title {
  width: 100%;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.1;
  letter-spacing: 0;
  margin: 0 0 40px 0;
}

.content__text {
  max-width: 738px;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: 0;
  margin: 0 0 10px 0;
}

.content__author {
  max-width: 732px;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: 0;
  text-align: right;
  margin: 0 0 32px 0;
}

.content__description {
  max-width: 722px;
  font-weight: 400;
  font-size: 16px;
  line-height: 163%;
  letter-spacing: 0;
  margin: 0;
}
