.nav {
  max-width: 255px;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 34px 0 91px;
}
.nav__logo {
  width: 32px;
  height: 32px;
  margin-bottom: 22px;
}

.nav__logo-description {
  width: 100%;
}
